* {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

body {
  margin: 0;
  background-color: #EDEEF0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header.main-header {
  background-color: #507299;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

footer.main-footer {
  background-color: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-align: center;
}

footer.main-footer > p {
  color: #d0d0d0;
  margin: 0;
}

nav {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  max-width: max-content;
  flex-shrink: 0;
  margin-right: 20px;
  margin-left: -200px;
}

nav ul {
  list-style-type: none;
}

nav li {
  padding: 10px 5px 10px 5px;
}

nav li:hover {
  background-color: #E1E5EB;
}

nav a:link {
  text-decoration: none;
  color: #507299;
}

aside {
  position: fixed;
  top: 50px;
  margin-right: -800px;
}

section {
  margin-top: 5px;
  width: 390px;
}

article {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 15px;
}

article.post {
  width: max-content;
  padding: 15px;
  text-align: justify;
  border: 1px solid #d0d0d0;
  border-radius: 10px;
}

article.aside {
  border: 1px solid #d0d0d0;
  border-radius: 5px;
}

article.aside > p:first-child {
  background-color: #edeef0;
  margin: 15px 5px 10px 5px;
  padding-right: 35px;
}

article.aside > p:last-child {
  background-color: #edeef0;
  margin: 10px 5px 15px 5px;
}

header.aside-header {
  margin-left: 7px;
}

header.aside-header > p {
  font-weight: bold;
}

article.post > .content {
  margin: 0;
  width: 350px;
}

footer.like-comm {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-height: max-content;
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #d0d0d0;
  margin-top: 5px;
}

footer.like-comm a {
  margin-top: 5px;
  text-decoration: none;
  color: #507299;
}

header.post-header {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 3px solid #d0d0d0;
}

header.post-header > p {
  margin: 0;
  font-weight: bold;
  padding-bottom: 5px;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}

.logo {
  margin: 0 0 0 200px;
  padding: 7px 0 3px;
}

@media screen and (min-width: 1000px) {
  aside {
    display: block;
  }
}

@media screen  and (max-width: 999px) and (min-width: 600px) {
  aside {
    display: none;
  }

  nav {
    margin-left: 0;
  }
}

@media screen  and (max-width: 599px) {
  aside {
    display: none;
  }

  nav {
    width: 390px;
    margin: 0 auto;
    padding: 0;
  }

  section{
    margin: 0 auto;
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 30px 0 30px;
  }
  li{
    display: inline-block;
  }
  li > a{
    white-space: nowrap;
  }
  li > a > br{
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}